@use "sass:map";

@use "./variables.scss" as var;

@mixin font-mono {
    font-family: var(--default-mono-font-family);
}

@mixin breakpoint($size) {
    @media (min-width: map.get(var.$breakpoints, $size)) {
        @content;
    }
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
