@use "@styles/abstracts/mixins.scss" as mixins;

.timeline__wrapper {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    height: 1em;

    @include mixins.breakpoint("lg") {
        &:hover .timeline__container {
        }

        &:hover .timeline__container .timeline__thumb {
            @include mixins.size(.75em);
        }
    }

    .timeline__container {
        position: relative;

        width: 100%;
        height: 0.25em;

        background: rgba(255, 255, 255, 0.25);

        border-radius: 12em;

        transition: height 150ms ease-in-out;

        .timeline__progress {
            position: absolute;

            inset: 0 auto 0 0;

            width: var(--player-progress, 0);
            height: 100%;

            border-radius: inherit;

            background-color: whitesmoke;
        }

        .timeline__thumb {
            position: absolute;

            top: 50%;
            left: var(--player-progress, 0);

            @include mixins.size(0);

            border-radius: 50%;

            background-color: whitesmoke;

            transform: translate(-50%, -50%);

            transition:
                width 150ms ease-in-out,
                height 150ms ease-in-out;
        }
    }
}
