@use "@styles/abstracts/mixins.scss" as mixins;

.timeline__wrapper {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    height: 1em;

    @include mixins.breakpoint("lg") {
        &:hover .timeline__container {
            height: 35%;
        }

        &:hover .timeline__container .timeline__thumb {
            @include mixins.size(1.15em);
        }
    }

    .timeline__container {
        position: relative;

        width: 100%;
        height: 25%;

        background: gray;

        border-radius: 1000px;

        transition: height 100ms linear;

        .timeline__progress {
            position: absolute;

            inset: 0 auto 0 0;

            width: var(--player-progress, 0);
            height: 100%;

            border-radius: inherit;

            background-color: crimson;
        }

        .timeline__thumb {
            position: absolute;

            top: 50%;
            left: var(--player-progress, 0);

            @include mixins.size(0.75em);

            border-radius: 50%;

            background-color: crimson;

            transform: translate(-50%, -50%);

            transition:
                width 100ms linear,
                height 100ms linear;
        }
    }
}
