.player-media__wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;

    background-color: black;

    video {
        width: auto;
        height: 100%;
        aspect-ratio: 16 / 9;
        object-fit: contain;
    }
}
