.player-controls__wrapper {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;

    padding: 0 2em;

    .player-controls-buttons__container {
        width: 100%;
        display: flex;
    }
}
