:root {
    --font-sans:
        "Geist", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono:
        "Geist Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --default-font-family: var(--font-sans, initial);
    --default-mono-font-family: var(--font-mono, initial);
}
